<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
    <script src="/javascripts/services.js" type="text/javascript"></script>
    <script src="/javascripts/resources.js" type="text/javascript"></script>
    <script src="/javascripts/filters.js" type="text/javascript"></script>
    <script src="/javascripts/controllers.js" type="text/javascript"></script>
  </head>

  <body ng-app="connectFourApp">
    <div class="container">
      <div class="page-header">
        <h1><%= title %></h1>
        <p class="lead"><%= description %></p>
      </div>

      <div id="panel">
        <div id="gameBoardSection" class="panel-section" ng-controller="GameBoardSectionCtrl">
          <div id="gameRules" class="text-center" ng-hide="data">
            <h3>Game Rules</h3>
            <img id="gameRulesPicture" src="/images/rules.png" alt="Game rules"></img>
          </div>
          <div id="gameBoard" ng-show="data">
            <div class="game-board-column" ng-repeat="column in data" ng-click="insertCheckerIntoColumn($index)">
              <div class="game-board-slot" ng-repeat="slot in column | reverse" ng-class="{ 'selected-cell': isSlotSelected(slot), 'player-red-selected-slot': isSlotSelectedByRedPlayer(slot), 'player-black-selected-slot': isSlotSelectedByBlackPlayer(slot), 'winning-slot': slot.isWinningSlot }">
              </div>
            </div>
          </div>
        </div>
        <div id="menusSection" class="panel-section" ng-controller="MenusSectionCtrl">
          <div ng-if="showSelectGameTypeMenu" ng-include="'selectGameTypeMenuTemplate'"></div>
          <div ng-if="showInputUsernameScreen" ng-include="'showInputUsernameScreenTemplate'"></div>
          <div ng-if="showStartMenu" ng-include="'startMenuTemplate'"></div>
          <div ng-if="showGameInfo" ng-include="'gameInfoTemplate'"></div> 
        </div>
      </div>
    </div>

    <!-- Game Menu Templates -->
    <script id="selectGameTypeMenuTemplate" type="text/ng-template">
      <div ng-controller="SelectGameTypeMenuCtrl" class='text-center'>
        <p class="initial-message">Welcome to Connect 4! Please select a game type:</p>
        <div id="selectGameTypeMenuBtnContainer">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="takeTurns()">Take turns on the same computer</button>
          <button type="button" class="btn btn-info btn-lg btn-block" ng-click="playRemoteGame()">Play against a remote player</button>
        </div>
      <div>
    </script>

    <script id="showInputUsernameScreenTemplate" type="text/ng-template">
      <form>
        <label for="username">Enter a username:</label>
        <input type="text" id="username"></input>
        <button type="submit">Create</button>
      </form>
    </script>

    <script id="startMenuTemplate" type="text/ng-template">
      <div ng-controller="StartMenuCtrl" class="text-center">
        <p id="startingMessage" class="initial-message start-menu-element">Select the player who will take the first turn and then click <strong>Start</strong> to play!</p>
        <div id="playerSelectionContainer" class="start-menu-element">
          <label class="radio-inline color-red">
              <input type="radio" ng-model="startingPlayer" value="{{ firstPlayer }}">
              {{ firstPlayer | uppercase }}
          </label>
          <label class="radio-inline">
              <input type="radio" ng-model="startingPlayer" value="{{ secondPlayer }}">
              {{ secondPlayer | uppercase }}
          </label>
        </div>
        <button ng-click="start()" type="button" class="btn btn-success btn-lg start-menu-element">Start</button>
      <div>
    </script>

    <script id="gameInfoTemplate" type="text/ng-template">
      <div ng-controller="GameInfoCtrl">
        <div class="text-center">
          <table class="table table-bordered">
            <caption id="scoreTableCaption">Score</caption>
            <thead>
              <tr>
                <th class="danger text-center">Red</th>
                <th class="active text-center">Black</th>
                <th class="warning text-center">Draw</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ redPlayerScore }}</td>
                <td>{{ blackPlayerScore }}</td>
                <td>{{ numOfDraws }}</td>
              </tr>
            </tbody>
          </table>
          <p class="game-prompt" ng-hide="winner || isDraw">
            Your turn: 
            <span ng-class="{ 'color-red': isRedCurrentPlayer(), 'color-black': isBlackCurrentPlayer() }">
              {{ currentPlayer.type | uppercase }}
            </span>
          </p>
          <p id="columnFullMsg" class="game-prompt" ng-show="columnIsFull">
            This column is full! Please try inserting checker into another column!
          </p>
          <p class="game-prompt" ng-show="isDraw">
            Its a draw...No one wins!
          </p>
          <p class="game-prompt" ng-show="winner">
            Congratulations
            <span ng-class="{ 'color-red': isRedCurrentPlayer(), 'color-black': isBlackCurrentPlayer() }">
              {{ winner | uppercase }}
            </span>!!!
            </br>
            You are the victor!
          </p>
          <button type="button" class="btn btn-danger btn-lg" ng-click="restart(currentPlayer.type)" ng-hide="winner">Restart</button>
          <button type="button" class="btn btn-success btn-lg" ng-click="playAgain(winner)" ng-show="winner">Play Again</button>
        <div>
      <div>
    </script>

  </body>
</html>